<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Light Theme</title>
<link href="../static/simpleGridTemplate.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container"> 
  <header class="header">
<div class="button"><a href="{{ url_for('Acceuil') }}">Acceuil </a></div>
    <h4 class="logo">Résumé de votre profil&nbsp;&nbsp;</h4>
</header>
<section class="intro">
    <div class="column">
      <h3>Diete Baxter</h3>
<img src="../static/profile.png" alt="" class="profile"> </div>
<div class="column">
      <p> Programme :</p>
      <p>Année d'étude:</p>
      <p>Nombre d'objectif:&nbsp; </p>
      <p>Motivation actuelle :</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
    </div>
  </section>
  <footer id="contact">
    <p class="hero_header">Changer de profil</p>
    <div class="button">Modifier vos informations&nbsp; </div>
</footer>
  </div>
</body>
</html>
