<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Agency Page Template</title>
    <link rel="stylesheet" href="../static/bootstrap-4.3.1.css">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <style type="text/css">
    .connection {
}
    </style>
  </head>
  <body>
<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="Sanstitre-2.html">Acceuil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('Profile') }}">Mon Compte</a>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  <script src="./js/jquery-3.3.1.min.js"></script>
<div class="jumbotron">
    <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="text-center">Réussite 2.0&nbsp; &nbsp;</h1>
              <h1 class="text-lowercase text-center"><strong>Le dash bord vous offre un overview sur votre session et votre programme d'étude</strong></h1>
<p>&nbsp;</p>
              <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> </p>
            </div>
          </div>
        </div>
  </div>
</header>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mb-4 mt-2 text-center">
            <h2>Dash Board</h2>
          </div>
        </div>
      </div>
      <div class="container ">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <a href="{{ url_for('Cours') }}"><img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="../static/unnamed.png" data-holder-rendered="true"></a>
<h3>Cours</h3>
            <p>Apercu de vos notes de cours et avancement&nbsp;</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img src="../static/74229021-diagramme-circulaire-infographique-modèle-de-cercle-vectoriel-qui-peut-être-utilisé-pour-le-graphique-diag.jpg" alt="140x140" class="rounded-circle" style="width: 140px; height: 140px;" data-holder-rendered="true">
            <h3>Programme</h3>
            <p>Visualiser ici l'avancement de votre programme universitaire</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="../static/df4d5903-3569-4e1b-a0c2-3ae1b1df0d3b.png" data-holder-rendered="true">
            <h3>Defi</h3>
            <p>Voyez l'avancement de vos défi personnel&nbsp; &nbsp;</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="../static/images.jpg" data-holder-rendered="true">
            <h3>Prévision</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="../static/project-planing-01-01.png" data-holder-rendered="true">
            <h3>Organisation</h3>
            <p>Organiser vos journée pour atteindre vos objectifs</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="../static/bd70b9be-19a5-46de-aca8-09f01d62fcfd.png" data-holder-rendered="true">
            <h3>Perfomance</h3>
            <p>Evaluer votre perfomance géneral en tant qu'étudiant</p>
          </div>
        </div>
</div>
      <div> </div>
</section>
    <div class="container">
      <div class="row">
        <div class="jumbotron col-lg-6">
          <div class="row text-center">
            <div class="text-center col-12">
              <h2>C la hess</h2>
            </div>
            <div class="text-center col-12">
              <form id="feedbackForm" class="text-center">
                <ul class="zeubi">
                <li class="not-available"> 20,000+ Premium Templates <label class="icon" for="this-input">
    <i class="fa fa-check-circle"></i>
  </label></li>
                <li>10,000+ Free Templates <label class="icon" for="this-input">
    <i class="fa fa-check-circle"></i></li>
                <li class="not-available"> 20,000+ Premium Templates <label class="icon" for="this-input">
    <i class="fa fa-times-circle"></i>
  </label></li>
                <li class="not-available">500,000+ Premium Images  <label class="icon" for="this-input">
    <i class="fa fa-times-circle"></i>
  </label></li>
                <li class="not-available">50,000+ Video Clips <label class="icon" for="this-input">
    <i class="fa fa-times-circle"></i>
  </label></li>
                <li class="not-available">Create unlimited video & animations <label class="icon" for="this-input">
    <i class="fa fa-times-circle"></i>
  </label></li>
                <li class="not-available">Upload own videos <label class="icon" for="this-input">
    <i class="fa fa-times-circle"></i>
  </label></li>
                <li class="not-available">Create Teams to collaborate on designs <label class="icon" for="this-input">
    <i class="fa fa-times-circle"></i>
  </label></li>
                <li class="not-available">Access to PRO on mobile <label class="icon" for="this-input">
    <i class="fa fa-times-circle"></i>
  </label></li>
            </ul>
<button type="submit" id="feedbackSubmit" class="btn btn-primary btn-lg">T pauvre zeubi!</button>
              </form>
            </div>
          </div>
        </div>
        <div class="jumbotron col-lg-6">
          <div class="row text-center">
            <div class="text-center col-12">
              <h2>Pigeon</h2>
            </div>
            <div class="text-center col-12">
              <form id="feedbackForm" class="text-center">
                <ul class="zeubi">
                <li class="not-available"> 20,000+ Premium Templates <label class="icon" for="this-input">
    <i class="fa fa-check-circle"></i>
  </label></li>
                <li>10,000+ Free Templates <label class="icon" for="this-input">
    <i class="fa fa-check-circle"></i></li>
                <li class="not-available"> 20,000+ Premium Templates <label class="icon" for="this-input">
    <i class="fa fa-check-circle"></i>
  </label></li>
                <li class="not-available">500,000+ Premium Images  <label class="icon" for="this-input">
    <i class="fa fa-check-circle"></i>
  </label></li>
                <li class="not-available">50,000+ Video Clips <label class="icon" for="this-input">
    <i class="fa fa-check-circle"></i>
  </label></li>
                <li class="not-available">Create unlimited video & animations <label class="icon" for="this-input">
    <i class="fa fa-check-circle"></i>
  </label></li>
                <li class="not-available">Upload own videos <label class="icon" for="this-input">
    <i class="fa fa-check-circle"></i>
  </label></li>
                <li class="not-available">Create Teams to collaborate on designs <label class="icon" for="this-input">
    <i class="fa fa-check-circle"></i>
  </label></li>
                <li class="not-available">Access to PRO on mobile <label class="icon" for="this-input">
    <i class="fa fa-check-circle"></i>
  </label></li>
            </ul>
<button type="submit" id="feedbackSubmit" class="btn btn-primary btn-lg">Tu ralass!</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 mx-auto col-lg-7"> </div>
      </div>
    </div>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright © MyWebsite. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="../static/jquery-3.3.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap-4.3.1.js"></script>
  </body>
</html>