<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Agency Page Template</title>
    <link href="../static/bootstrap-4.3.1.css" rel="stylesheet">
    <style type="text/css">
    .connection {
}
    </style>
  </head>
  <body>
<header>
<div class="jumbotron">
    <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="text-center">Réussite 2.0&nbsp; &nbsp;</h1>
              <h1 class="text-lowercase text-center"><strong>Le dash bord vous offre un overview sur votre session et votre programme d'étude</strong></h1>
<p>&nbsp;</p>
              <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> </p>
            </div>
          </div>
        </div>
  </div>
</header>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mb-4 mt-2 text-center">
            <h2>Dash Board</h2>
          </div>
        </div>
      </div>
      <div class="container ">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <a href="Sanstitre-3.html"><img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="./img/unnamed.png" data-holder-rendered="true"></a>
<h3>Cours</h3>
            <p>Apercu de vos notes de cours et avancement&nbsp;</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img src="./img/74229021-diagramme-circulaire-infographique-modèle-de-cercle-vectoriel-qui-peut-être-utilisé-pour-le-graphique-diag.jpg" alt="140x140" class="rounded-circle" style="width: 140px; height: 140px;" data-holder-rendered="true">
            <h3>Programme</h3>
            <p>Visualiser ici l'avancement de votre programme universitaire</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="./img/df4d5903-3569-4e1b-a0c2-3ae1b1df0d3b.png" data-holder-rendered="true">
            <h3>Defi</h3>
            <p>Voyez l'avancement de vos défi personnel&nbsp; &nbsp;</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="./img/images.jpg" data-holder-rendered="true">
            <h3>Prévision</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="./img/project-planing-01-01.png" data-holder-rendered="true">
            <h3>Organisation</h3>
            <p>Organiser vos journée pour atteindre vos objectifs</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="./img/bd70b9be-19a5-46de-aca8-09f01d62fcfd.png" data-holder-rendered="true">
            <h3>Perfomance</h3>
            <p>Evaluer votre perfomance géneral en tant qu'étudiant</p>
          </div>
        </div>
</div>
      <div> </div>
</section>
    <div class="container">
      <div class="row">
        <div class="jumbotron col-lg-6">
          <div class="row text-center">
            <div class="text-center col-12">
              <h2>Try a free trial now</h2>
            </div>
            <div class="text-center col-12">
              <form id="feedbackForm" class="text-center">
                <div class="form-group">
                  <label for="name">idul</label>
                  <input type="text" class="form-control" id="idul" name="idul" placeholder="idul" aria-describedby="nameHelp">
                  <span id="nameHelp" class="form-text text-muted" style="display: none;">Please enter your name.</span></div>
                <div class="form-group">
                  <label for="email">E-Mail</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" aria-describedby="emailHelp">
                  <span id="emailHelp" class="form-text text-muted" style="display: none;">Please enter a valid e-mail address.</span></div>
<button type="submit" id="feedbackSubmit" class="btn btn-primary btn-lg"> Send</button>
              </form>
            </div>
          </div>
        </div>
        <div class="jumbotron col-lg-6">
          <div class="row text-center">
            <div class="text-center col-12">
              <h2>Full access to the site&nbsp;&nbsp;</h2>
            </div>
            <div class="text-center col-12">
              <!-- CONTACT FORM https://github.com/jonmbake/bootstrap3-contact-form -->
              <form id="feedbackForm2" class="text-center">
                <div class="form-group">
                  <label for="name2">Name</label>
                  <input type="text" class="form-control" id="name2" name="name2" placeholder="Name" aria-describedby="nameHelp">
                  <span id="nameHelp2" class="form-text text-muted" style="display: none;">Please enter your name.</span></div>
                <div class="form-group">
                  <label for="email2">idul&nbsp;</label>
                  <input type="email" class="form-control" id="email2" name="email2" placeholder="idul" aria-describedby="emailHelp">
<span id="emailHelp2" class="form-text text-muted" style="display: none;">Please enter a valid e-mail address.</span></div>
                <div class="form-group">
                  <label for="message2">Carte de crédit&nbsp;&nbsp;</label>
<span id="messageHelp2" class="form-text text-muted" style="display: none;">Please enter a message.</span></div>
                <input type="email" class="form-control" id="email3" name="email3" placeholder="carte number" aria-describedby="emailHelp">
<button type="submit" id="feedbackSubmit2" class="btn btn-primary btn-lg"> Continue&nbsp;</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 mx-auto col-lg-7"> </div>
      </div>
    </div>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright © MyWebsite. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="./js/jquery-3.3.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap-4.3.1.js"></script>
  </body>
</html>